<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magenest. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_load_before">
        <observer name="stripe_layout_load" instance="Magenest\Stripe\Observer\Layout\Load"/>
    </event>

    <event name="catalog_product_load_after">
        <observer name="stripe_product_load_after" instance="Magenest\Stripe\Observer\Layout\Add"/>
    </event>

    <event name="checkout_cart_product_add_after">
        <observer name="stripe_cart_add_after" instance="Magenest\Stripe\Observer\Option\Cart" />
    </event>

    <!--<event name="checkout_onepage_controller_success_action">-->
        <!--<observer name="magenest_stripe_order_success_action" instance="Magenest\Stripe\Observer\AfterOrderEvent" />-->
    <!--</event>-->
</config>
