.page-header.type2{background-color:#0083c1;color:#fff;border:0}
.page-header.type2 .header.panel>.header.links>li>a{color:#fff}
.page-header.type2 .header.panel>.header.links>li>a:hover{color:#fff}
.page-header.type2 .minicart-wrapper{position:absolute;top:50%;left:15px;margin-top:-20px}
.page-header.type2 .minicart-wrapper .action.showcart:before,.page-header.type2 .minicart-wrapper .action.showcart.active:before{color:#fff}
.page-header.type2 .minicart-wrapper .action.showcart .counter.qty{color:#000}

@media only screen and (max-width:767px){
    .page-header.type2 .logo{height:40px;float:right;margin:10px 0}
    .page-header.type2 .logo img{max-width:100%;max-height:100%;width:auto}
    .page-header.type2 .minicart-wrapper{position:relative;top:auto;left:auto;right:auto;margin:10px 0;float:left}
    .page-header.type2 .block-search{float:none;margin-bottom:0}
    .page-header.type2 .block-search .label{float:left;margin:10px 0;line-height:40px;margin-left:15px}
    .page-header.type2 .block-search .label:before{color:#fff;cursor:pointer}
    .page-header.type2 .custom-block{display:none}
    .page-header.type2 .nav-toggle:before{color:#fff}
}
@media all and (min-width:768px),print{
    header.page-header.sticky-header.type2 .minicart-wrapper .action.showcart:before{color:#fff}
    header.page-header.sticky-header.type2 .minicart-wrapper .action.showcart .counter.qty{color:#000}
    .page-header.type2{background-color:#0083c1;color:#fff;border-top:0}
    .page-header.type2>.panel.wrapper{background-color:#008acc;color:#fff}
    .page-header.type2 .panel.header .switcher{border-right:1px solid rgba(255,255,255,0.5);padding:0 15px;text-transform:uppercase}
    .page-header.type2 .panel.header .switcher:first-child{border-right:0;padding-right:0}
    .page-header.type2 .panel.header .switcher:last-child{padding-left:0}
    .page-header.type2 .panel.header .header.links>li>a{color:#fff}
    .page-header.type2 .panel.header .header.links>li>a:hover{color:#fff}
    .page-header.type2 .customer-welcome .action.switch{color:#fff}
    .page-header.type2 .nav-sections{background-color:#006fa4;color:#fff}
    .page-header.type2 .navigation .level0.parent>a:after{line-height:46px}
    .page-header.type2 .navigation .level0>.level-top{color:#fff;font-weight:700}
    .page-header.type2 .block-search input{background-color:#006393;color:#ddd}
    .page-header.type2 .block-search .action.search{border-right:1px solid rgba(255,255,255,0.2);padding:0 12px}
    .page-header.type2 .block-search .action.search:focus:before{color:#fff}
    .page-header.type2 .block-search .action.search:before,.page-header.type2 .block-search .action.search:hover:before{color:#fff}
    .page-header.type2 .block-search .action.search:hover{border-right-width:1px}
    .page-header.type2 .custom-block{height:40px;line-height:40px;position:absolute;top:50%;left:60px;margin-top:-20px;font-size:14px;color:#fff}
    .page-header.type2 .custom-block>*{display:inline-block;vertical-align:middle}
    .page-header.type2 .custom-block>a{font-size:12px;color:#fff}
}
